<div class="welcome">
    <div class="container">
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <div class="title">MOVIE QUIZ</div>
            </div>
            <div class="col-sm-1"></div>
        </div>
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <div class="introduction">Welcome to the quiz !<br><br>
                    You'll be asked a series of "Yes or No" questions. <br>
                    Answer as many as you can in the allowed time ! <br><br>
                    Good luck !</div>
            </div>
            <div class="col-sm-1"></div>
        </div>
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-3">
                <button class="start-button" routerLink="/question">
                    <span>Action</span>
                </button>
            </div>
            <div class="col-sm-5"></div>
        </div>
    </div>
</div>