.welcome {
  background-color: black;
  background-image: url(../../assets/movietheater.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
}

.row {
  margin-top: 4%;
}

.title {
  padding-top: 1%;
  color: black;
  font-size: 2vw;
  font-weight: bolder;
  text-align: center;
}

.introduction {
  color: black;
  font-size: 1.4vw;
  text-align: center;
}

.start-button {
  background-color: transparent;
  background-image: url(../../assets/clap.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  border: transparent;
  width: 130%;
  height: 130%;
  font-size: 50px;
  margin-top: 10%;
  padding-top: 100px;
  transform: rotate(2deg);
}

.start-button:hover {
  transform: rotate(-2deg);
}

.start-button:active {
  transform: rotate(0deg);
  background-image: url(../../assets/clapclap.png);
}
.start-button span {
  color: white;
}
