.quiz {
  background-color: black;
  background-image: url(../../assets/movietheater.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 150vw;
  background-position: -25vw -1vw;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
}

.gameover {
  margin-top: 5%;
  margin-bottom: 1.5%;
  font-size: 70px;
  font-weight: bolder;
  text-align: center;
}

.score {
  margin-top: 1.5%;
  margin-bottom: 1.5%;
  text-align: center;
}

.quiz img {
  width: 100%;
}

.question {
  margin-top: 1.5%;
  font-size: 35px;
  font-weight: bolder;
  text-align: center;
}

.quiz h2 {
  color: white;
}

.yes-button .no-button {
  border: black 3px;
  border-radius: 3px;
  height: 50px;
  width: 50px;
}

.yes-button {
  color: black;
  border: wheat 7px wheat;
  border-radius: 10px;
  height: 250px;
  width: 250px;
  font-size: 30px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: bolder;

  background-color: green;

  background-color: transparent;
  background-image: url(../../assets/ticket_yes.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  border: transparent;
}

.no-button {
  color: black;
  border: wheat 7px wheat;
  border-radius: 10px;
  height: 250px;
  width: 250px;
  font-size: 30px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: bolder;

  background-color: red;

  background-color: transparent;
  background-image: url(../../assets/ticket_no.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  border: transparent;
}

.retry-button {
  color: blanchedalmond;
  font-size: 50px;
  padding-top: 80px;
  height: 250px;
  width: 250px;
  font-size: 30px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: bolder;
  margin-top: 20%;

  background-color: transparent;
  background-image: url(../../assets/clap.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  border: transparent;
  transform: rotate(2deg);
}

.retry-button:hover {
  transform: rotate(-2deg);
}

.retry-button:active {
  transform: rotate(0deg);
  background-image: url(../../assets/clapclap.png);
}
