<div class="quiz">
    <div class="container">
        <!------------------------------------------------------->
        <!-- Question -->
        <div class="score row" *ngIf="isQuizRunning && currentQuestion">
            <div class="col-sm-3">
                <h2>Score : {{currentScore}}</h2>
            </div>
            <div class="col-sm-6">.col-md-4</div>
            <div class="col-sm-3">
                <h2>Time : {{currentTimeInSec}}</h2>
            </div>
        </div>
        <div class="row" *ngIf="isQuizRunning && currentQuestion">
            <div class="col-sm-3"><img src={{currentQuestion?.actorPictureFullPath}} /></div>
            <div class="col-sm-6"></div>
            <div class="col-sm-3"><img src={{currentQuestion?.moviePictureFullPath}} /></div>
        </div>
        <div class="row" *ngIf="isQuizRunning && currentQuestion">
            <div class="col-sm-12 question">
                Did {{currentQuestion.actorName}} star in
                {{currentQuestion.movieTitle}} ?
            </div>
        </div>
        <!------------------------------------------------------->
        <!-- Game Over -->
        <div class="row" *ngIf="!isQuizRunning">
            <div class="col-sm-12 gameover">
                Game Over
            </div>
        </div>
        <div class="row score" *ngIf="!isQuizRunning">
            <div class="col-sm-2"></div>
            <div class="col-sm-4">
                <h1>Score : </h1>
            </div>
            <div class="col-sm-4">
                <h1>{{currentScore}}</h1>
            </div>
            <div class="col-sm-2"></div>
        </div>
        <div class="row score" *ngIf="!isQuizRunning">
            <div class="col-sm-2"></div>
            <div class="col-sm-4">
                <h1>Highest Score : </h1>
            </div>
            <div class="col-sm-4">
                <h1>{{highestScore}}</h1>
            </div>
            <div class="col-sm-2"></div>
        </div>
        <!------------------------------------------------------->
        <!-- Buttons -->
        <div class="row" *ngIf="isQuizRunning">
            <div class="col-sm-3"></div>
            <div class="col-sm-4">
                <button class="yes-button" (click)="setAnswer(true)">YES</button>
            </div>
            <div class="col-sm-4">
                <button class="no-button" (click)="setAnswer(false)">NO</button>
            </div>
            <div class="col-sm-1"></div>
        </div>
        <div class="row" *ngIf="!isQuizRunning">
            <div class="col-sm-5"></div>
            <div class="col-sm-2">
                <button class="retry-button" *ngIf="!isQuizRunning" (click)="startQuiz()">RETRY</button>
            </div>
            <div class="col-sm-5"></div>
        </div>
    </div>
</div>